@import url(./fonts.css);
h1 {
    font-family: "Roboto";
}
:root {
    --orane: #FF7500;
    --who: #fff;
    --dark: #252525;
    --roboto: 'Roboto';
    --RobotoCondensed: 'RobotoCondensed';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1130px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
